/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Container Styles */
.container {
    text-align: center;
    padding: 40px 20px;
}

header {
    background: linear-gradient(135deg, #007bff, #00d2d3);
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header .campus-logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header h2 {
    font-size: 1.5em;
    margin: 10px 0 0;
}

/* Info Section Styles */
.info {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info h2 {
    font-size: 2em;
    margin: 0;
}

.info p {
    font-size: 1.2em;
    color: #666;
}

/* Download Section Styles */
.download {
    background-color: white;
    margin: 20px 0;
    padding: 10px 0 10px 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.download h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.download p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background: #007bff;
    color: white;
    border-radius: 10px;
}

footer p {
    margin: 0;
    font-size: 1em;
}
