/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    background-color: #ffefd5; /* Warna background cream */
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f0f8ff; /* Warna background lebih ringan */
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .React {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .paragraph1, .paragraph2 {
    max-width: 600px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.6;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffdab9; /* Warna background tugas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }
  
  li:nth-child(odd) {
    background-color: #ffd700; /* Warna background tugas ganjil */
  }
  
  li:nth-child(even) {
    background-color: #ffa07a; /* Warna background tugas genap */
  }
  
  li:hover {
    transform: scale(1.02);
  }
  
  li span {
    flex-grow: 1;
    text-align: left;
    padding-left: 10px;
    font-weight: bold;
  }
  
  li button {
    background-color: #dc3545;
    color: white;
    transition: background-color 0.3s;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  